body {
  background-color: #dddddd;
color: #33AFFF;
margin: 0;
}

header {
background: #33AFFF;
color: #ffff;
padding: 6em;
}

.newheader {
background: #33AFFF;
  display: flex;
  justify-content: space-around;
}

.newheader::after {
content: " ";
display: block;
width: 120px;
height: 120px;
transform: translateX(-50%) rotate(45deg);
position: absolute;
bottom : 0;
left : 50%;
background: #33AFFF;
/* left: 50%;
bottom: 45%; */
}

.container {
  max-width: 38em;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.CV {
  background-color: #ffff;
  color: black;
}

.Gallerie {
  background-color: #ffff;
  color: white;
}

.Explication {
  background-color: #33AFFF;
  color: black;
}

.Passion {
  background-color:#33AFFF;
  color: white;
}

.site-name {
  color: #fff;

}

footer {
background: #33AFFF;
color: #dddddd;
padding: 6em;
}
